{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}

<section id="login">
    <div class="container">
    	<div class="row">
    	    <div class="col-xs-12">
        	    <div class="form-wrap">
                <h1>Faça login com sua conta de e-mail</h1>
                    <form role="form" method="post" id="login-form" autocomplete="off">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                        <div class="checkbox">
                            <span class="character-checkbox" onclick="showPassword()"></span>
                            <span class="label">Mostrar senha</span>
                        </div>
                        <button type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block">Login</button>

                    </form>
                    <a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">Esqueceu a senha?</a>
                    <a href="{% url 'accounts:register' %}" class="forget">Cadastre-se</a>
                    <hr>
        	    </div>
    		</div> <!-- /.col-xs-12 -->
    	</div> <!-- /.row -->
    </div> <!-- /.container -->
</section>

<div class="modal fade forget-modal" tabindex="-1" role="dialog" aria-labelledby="myForgetModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
					<span class="sr-only">Fechar</span>
				</button>
				<h4 class="modal-title">Recuperar senha</h4>
			</div>
			<div class="modal-body">
				<p>Digite o email da sua conta</p>
				<input type="email" name="recovery-email" id="recovery-email" class="form-control" autocomplete="off">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-custom">Recuperar</button>
			</div>
		</div> <!-- /.modal-content -->
	</div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
{% endblock %}