{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}

<section id="login">
    <div class="container">
    	<div class="row">
    	    <div class="col-xs-12">
        	    <div class="form-wrap">
                <h1>Informe seus dados</h1>
                    <form role="form" method="post" id="login-form" autocomplete="off">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                        {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.errors }}
                        </div>
                        {% endfor %}
                        <button type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block">Cadastrar</button>

                    </form>
                    <hr>
        	    </div>
    		</div> <!-- /.col-xs-12 -->
    	</div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
{% endblock %}